.active {
    color: white !important;
}

.navbar {
    height: 85px;
}

.nav-pd {
    height: 100%;
}

.navbar-nav * {
    font-size: 12px;
}

.ticket-btn {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    width: fit-content;
}

.ticket-btn:hover {
    background-color: black !important;
    color: white !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: white !important;
    transition: 0.3s;
}

.active:hover {
    color: black !important;
    transition: 0.3s;
}

.navbar-brand {
    background-color: #333;
}

.hero-sec {
    height: 100vh;
}

.hero-sec .card {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(assets/images/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-sec .card-img-overlay {
    margin-left: auto;
    margin-right: 10%;
    opacity: 0;
    transform: translateY(20%);
    animation: start 1s ease 0.1s 1 forwards;
    width: 50%;
}

.hero-sec .card-title {
    font-size: 54px;
}

.hero-sec .card-text {
    font-size: 1.2rem;
}

.lb-color {
    color: #999;
}

.fa-play {
    width: 60px !important;
    height: 60px !important;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.game-schedule .card {
    box-shadow: 0px 10px 8px 0px rgb(238, 238, 238);
}

.card-bottom {
    width: fit-content;
    bottom: 60px;
    margin: auto;
    background-color: #232931;
    opacity: 0;
    transform: translateY(20%);
    animation: start 1s ease 0.1s 1 forwards;
}

.cb-sec1 img {
    width: 60px;
    z-index: 1;
}

.cb-sec1 .img2 {
    left: 40px;
    top: 0;
    z-index: 0;
}


.card-sec1 .c2 {
    background-image: url(assets/images/victory.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.c2 i {
    background-color: white !important;
}

.img-c {
    width: 100px;
}

.border-bottom.py-1 {
    border-width: 5px !important;
}

.t-text {
    font-size: 44px;
}

.details-btn {
    width: fit-content;
    margin: auto;
}

.det-btn {
    width: fit-content;
    margin: auto;
}

.places-sec {
    background-color: #f5f5f5;
}

.places-sec .card-body i {
    font-size: 50px;
}

.places-sec .card-body .card-title {
    font-size: 18px !important;
}

.bg-img-sec {
    height: fit-content;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(assets/images/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.lgray {
    color: gainsboro !important;
}

.libg {
    background-color: #f5f5f5 !important;
}

.bg-img-sec2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(assets/images/bg_2.jpg);
    background-attachment: fixed;
}

.bg-img-sec2 .card-top {
    width: 120px;
    height: 120px;
    background-image: url(assets/images/person_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: end;
}

.blog-sec .card .card-img-top {
    height: 280px;
}

.subscribe-sec {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(assets/images/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #111;
}

.anim {
    opacity: 0;
    transform: translateY(20%);
    animation: start 1s ease 0.1s 1 forwards;
    animation-timeline: view();
    animation-range: entry 0;
}

.row {
    opacity: 0;
    transform: translateY(20%);
    animation: start 1s ease 0.1s 1 forwards;
    animation-timeline: view();
    animation-range: entry 0;
}

.slide-col1 {
    animation: left 15s ease 5s infinite forwards;
}

.slide-col2 {
    animation: right 15s ease 5s infinite forwards;
}

@keyframes start {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes left {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes right {
    0% {
        transform: translateX(100%);
    }

    10% {
        transform: translateX(0%);
    }

    45% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }

    80% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes color {
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 576px) {
    .navbar {
        height: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .card-img-overlay {
        width: fit-content !important;
    }

    .hero-sec .card-title {
        font-size: 32px;
    }

    .hero-sec .card-text {
        font-size: 1rem;
    }
}